*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(40,36,51,0.288);
}

.p{
    text-align: center;
    padding: 20px;
    font-size: 3em;
}

.found{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

div{
    text-align: center;
}

#message{
    font-size: 2em;
    padding-bottom: 50px;
}

#restart{
    font-size: 2em;
}